body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to top, rgb(103, 77, 158) 0%, white 100%);
    font-family: 'Montserrat', sans-serif;
}

button {
    width: 225px;
    height: 75px;
  }
/* 
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.container h1 {
    color: rgb(255, 255, 255);
    font-size: 96px;
    margin-bottom: 40px;
}

input, textarea {
    width: 100%;
    box-sizing: border-box;
    outline: none;
    border: 0;
    border-color: #ffffff;
    /* border: 3px solid rgb(255, 255, 255); */
    border-radius: 11px;
    background: rgb(248, 231, 255);
    padding: 5px;
    padding-left: 10px;
    margin-bottom: 15px;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    opacity: 0.4;
    
}

input[type="text"]::placeholder,
textarea::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.9;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.submit-button {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#upload-button,
#download-button,
#home-button,
#raw-download-button {
    flex: 1;
    color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

#upload-button,
#home-button {
    background-color: transparent;
    margin-right: 120px;
}

#download-button,
#raw-download-button {
    background-color: transparent;
    /* background-color: rgb(242, 218, 252); */
}

#upload-button:hover,
#download-button:hover,
#home-button:hover,
#raw-download-button:hover {
    background-color: rgba(173, 173, 173, 0.462);
}

.input-text-field input[type="file"]::-webkit-file-upload-button {
    font-family: 'Montserrat', sans-serif;
    color: rgb(150, 146, 146);
    opacity: 0.6;
    font-size: larger;
}

.input-text-field input[type="file"]::-moz-file-upload-button {
    font-family: 'Montserrat', sans-serif;
    color: rgb(150, 146, 146);
    opacity: 0.6;
    font-size: larger;
}

.input-text-field input[type="file"]::file-selector-button {
    font-family: 'Montserrat', sans-serif;
    color: blueviolet;
    /* opacity: 0.7; */
    font-size: medium;;
}

.input-text-field input[type="file"] {
    font-family: 'Montserrat', sans-serif;
    color: rgb(49, 49, 49);
    font-size: 14px;
}

.my-storage-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-storage-container h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
}

.json-block {
    background: rgba(248, 231, 255, 0.252);
    border: 2px solid #ffffff;
    margin-bottom: 20px;
    word-break: break-word;
    width: 100%;
    border-radius: 20px;
}

.json-block-content {
    padding: 20px;
    color: rgb(36, 36, 36);
}

.json-block h2 {
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 10px;
}

.json-block pre {
    white-space: pre-wrap;
    font-family: 'Courier New', monospace;
    margin: 0;
}