{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>
            <b>MY STORAGE</b>
        </h1>
        <form method="post" enctype="multipart/form-data" action="{% url 'files:index' %}">
            {% csrf_token %}
            <div class="input-text-field">
                <input type="text" name="path" id="myInput" placeholder="> enter file path ...">
            </div>
            <div class="input-text-field">
                <textarea name="text" id="myTextarea" rows="10" cols="68" placeholder="> enter your text here ..."></textarea>
            </div>
            <div class="input-text-field">
                <input type="file" id="fileInput"/>
            </div>
            <div class="submit-button">
                <button id="upload-button" type="submit" name="action" value="upload">UPLOAD</button>
                <button id="download-button" type="submit" name="action" value="download">DOWNLOAD</a>
            </div>
        </form>
    </div>
{% endblock content %}