{% extends 'base.html' %}
{% block content %}
    {% with request.resolver_match.view_name as view_name %}
    <div class="my-storage-container">
        {% if view_name == 'files:upload' %}
        <div class="json-block">
            <div class="json-block-content">
                <h2>Response:</h2>
                <div id="content-container">
                    <pre>{{ response }}</pre>
                </div>
            </div>
        </div>
        {% endif %}
        {% if content %}
        <div class="json-block">
            <div class="json-block-content">
                <h2>Content:</h2>
                <div id="content-container">
                    <pre>{{ content }}</pre>
                </div>
            </div>
        </div>
        {% endif %}
        {% if view_name  == 'files:download' %}
        <div class="json-block">
            <div class="json-block-content">
                <h2>Tree:</h2>
                <div id="tree-container">
                    <pre>{{ dir_tree }}</pre>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="submit-button">
            {% if view_name  == 'files:download' %}
                <button id="home-button" onclick="window.location.href = '{% url 'files:index' %}'"> < HOME</button>
                <form method="GET">
                    <button id="raw-download-button" type="submit" onclick="window.location.href = '{% url 'files:download' path %}'" name="download" value="raw">DOWNLOAD</a>
            </form>
            {% else %}
            <button id="home-button" onclick="window.location.href = '{% url 'files:index' %}'" style="background-color: transparent; margin-right: 0px"> < HOME</button>
            {% endif %}
        </div>
    </div>
    {% endwith %}
{% endblock content %}